.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 200px;
}

.mat-card-actions {
  margin: auto 0 0
}

.coop-form {
  display: flex;
  flex-direction: row;

  &__actionFind {
    margin-left: 25px;
  }
}

.card-situation {
  width: 280px;
  margin: 25px;
}

.content-member {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.isActive {
  color: var(--success);
}

.isInactive {
  color: var(--warn);
}
